body {
	background: black;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 500px;
	margin: 0%;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 10px;
}
input {
	border-bottom: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 5px;
}
